<div class="post-card__header">
  <h2 class="post-card__title"><%= post.title %></h2>
  <p class="post-card__stats">
    Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
  </p>
</div>
<p class="post-card__body"><%= post.text %></p>
