<div class="user-card">
  <div class="user-card__photo-wrapper">
    <img src="<%= user.photo %>"  alt="<%= user.name %>&#39;s photo" class="user-card__photo"/>
  </div>
  <div class="user-card__body">
    <h2 class="user-card__user-name"><%= user.name %></h2>
    <p class="user-card__details">Number of posts: <%= user.posts_counter %></p>
  </div>
</div>
